body{
    background-color: gray;
    height: 1570px;
}
.common{
    text-align: center;
    background-color: azure;
    border: 8px solid red;
    border-radius:20px;
    color:rgb(99, 52, 126);
    box-shadow: 8px 8px rgb(99, 52, 126);;
    text-shadow: 2px 1px 2px ;
}
.main{
    border: 8px solid green;
    padding-top:1px;
    padding-left: 2px;
    padding-bottom: 25px;
}
.box1{
    width: 32%;
    margin-left: 28%;
    height: 180px;
    font-style: italic;
    font-size: large;
    
}
.box2{
    color: black;
    text-align: center;
    width: 16%;
    height: 250px;
    
}
.box3{
    width: 16%;
    position: absolute;
    top: 241px;
    right: 90px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box4{
    margin-top: 80px;
    width: 15.1%;
    text-align: left;
    color: black;
    
}
.box5{

    position: absolute;
    right: 90px;
    top: 590px;
    width: 16%;
    color: black;


}
input{
    width: 50%;
    
}

input::placeholder{
    text-align: center;

}
input[type="submit"]{
    background-color: red;
    width: 35%;
    margin-bottom: 5px;
    padding: 4px;
    border: 2px solid;
    border-radius: 15px;
    
}
img{
    width: 180px;
    height: 140px;
}
.center{
    width: 35%;
    border: 8px solid red;
    height: 90px;
    display: flex;
    justify-content: space-around;
    background-color:rgb(222, 222, 75);
    position: fixed;
    left: 28%;
    top: 530px;
    text-shadow: none;
    border-radius: 15px;
    color:rgb(176, 10, 10);
    font-style: italic;
    font-size: larger;
    font-weight: bold;

}

.fruits{
    width: 50%;
    
    
    /* position: relative;
    left: 20%; */
    

}

.Vegetables{
    /* position: relative;
    bottom: 250px;
    right: -500px; */
    width: 48%;
    

    margin-left: 5px;
    
}
.store{
    background-color: green;
    width: 53%;
    margin-left:22%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    /* justify-content: center;
    align-items: space-between; */
    height: auto;
    /* padding: 2px; */
    /* position: relative;
    left: 25%; */
    border: 8px solid rgb(127, 41, 120);
    
    
    

    
    
    
}
.liquid{
    width: 105%;
    margin-bottom: 10px;
    /* z-index: -1; */
    margin-right: -15px;
    margin-top: 10px;

    
    
    
    
}
.child{
    border: 3px solid rgb(56, 140, 56);
    background-color: rgb(235, 235, 156);
    text-align: center;
    height: 290px;
    font-style: italic;
    color:rgb(99, 52, 126);
    text-shadow: 1px 0px 0px black;

}
.con{
    width: 100%;
    height: 80px;
    text-align: center;
    


    
}

